<!DOCTYPE html>
<html>
    <head>
        <title>My app</title>
    </head>
    <body>

        
        <h1 style="color:rebeccapurple;text-align:center">Welcome to my predict salaryapp</h1>
        
        {% if sexe == "Masculin" %}
        <p style="text-align: center;text-size-adjust: 100px;">Bonjour Monsieur {{nom}} {{postnom}}</p>
        {% elif sexe == "Feminin" %}
        <p>Bonjour Mademoiselle {{nom}} {{postnom}}</p>
        {% else %}
        <p>Bonjour {{nom}} {{postnom}}</p>
        {% endif %}
        <a href="salary">Chercher a predire le salaire des enseignants concgolais?</a>
    </body>
</html>